@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior:smooth}

@layer components {
  .front-items{
    @apply mt-2 p-1 bg-test bg-opacity-80 flex items-center gap-2 w-full justify-center rounded-xl shadow-sm hover:scale-105 transition
  }
}

.front-items {
  box-shadow: 1px 1px 1px rgba(235, 230, 230, 0.233);
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FFFCFF;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}

.aboutmeimage {
  box-shadow: 0px 0px 50px 5px #0e6ba8;
}

.aboutmetitle {
  text-shadow: 5px 5px 2px #0E6BA8;
}

.moremetitle {
  text-shadow: 5px 5px 2px deeppink;
}

.altura {
  height: 400px;
}

body {
  color: #FFFCFF;
}

.shadowtitle {
  text-shadow: 5px 5px 2px #0E6BA8;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik:ital,wght@1,500&display=swap');

.fonte {
  font-family: 'Rubik', sans-serif;
}

.margincenterheader {
  margin: 0 auto;
}

.margincenter {
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
 
.sobremim {
  font-family: 'Itim', cursive;
  text-shadow: 3px 3px 2px #0E6BA8;
}

.teste {
  margin-top: calc(100vh - 90vh - 20px);
}

.teste2 {
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
